@charset "utf-8";
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/*16px*/
/*24px*/
/**
 * Clearfix
 */
article header:after, #BB101 #routelist:after, #Accomplishments #accomplishments-numbers ul:after, #Accomplishments #accomplishments-grantee ul:after, #Accomplishments #fundraisers ul:after, #Partner .partners:after, #Contact ul:after {
  content: "";
  display: table;
  clear: both; }

#BB101 #routelist .label {
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem; }

#Accomplishments #fundraisers li img, #Accomplishments .scholarship-grantee img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%; }

#header #toggle, #header #toggle #icon-menu, #header #toggle #icon-cross, #header #toc, #header #toc a, article a, article header.fixed h6, .window {
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s; }

#header #toggle #icon-menu, #header #toggle #icon-cross, #header #toc, #header #toc a, article a, .window {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

#header #toggle #icon-menu, #header #toggle #icon-cross {
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

body {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 2;
  vertical-align: -.25em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  background-color: white;
  -webkit-text-size-adjust: 100%; }

/**
 * Basic styling
 */
@font-face {
  font-family: 'bikeandbuild';
  src: url("../fonts/bikeandbuild.eot?jyrtgi");
  src: url("../fonts/bikeandbuild.eot?#iefixjyrtgi") format("embedded-opentype"), url("../fonts/bikeandbuild.woff?jyrtgi") format("woff"), url("../fonts/bikeandbuild.ttf?jyrtgi") format("truetype"), url("../fonts/bikeandbuild.svg?jyrtgi#bikeandbuild") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'bikeandbuild';
  speak: none;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-youtube:before {
  content: "\e60d"; }

.icon-twitter:before {
  content: "\e60b"; }

.icon-instagram:before {
  content: "\e609"; }

.icon-facebook:before {
  content: "\e60a"; }

.icon-mail:before {
  content: "\e002"; }

.icon-share:before {
  content: "\e081"; }

.icon-mail:before {
  content: "\e002"; }

.icon-arrow-left:before {
  content: "\e094"; }

.icon-arrow-right:before {
  content: "\e095"; }

.icon-arrow-up:before {
  content: "\e096"; }

.icon-arrow-down:before {
  content: "\e097"; }

.icon-plus:before {
  content: "\e114"; }

.icon-minus:before {
  content: "\e115"; }

.icon-cross:before {
  content: "\e117"; }

.icon-menu:before {
  content: "\e120"; }

.icon-visibility:before {
  content: "\e600"; }

.icon-location:before {
  content: "\e601"; }

.icon-time:before {
  content: "\e602"; }

.icon-money:before {
  content: "\e603"; }

.icon-timer:before {
  content: "\e604"; }

.icon-bike:before {
  content: "\e605"; }

.icon-terrain:before {
  content: "\e606"; }

.icon-people:before {
  content: "\e607"; }

.icon-globe:before {
  content: "\e608"; }

.icon-open:before {
  content: "\e128"; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 1rem; }

h1 {
  text-align: center;
  margin-top: 1rem;
  line-height: 1; }

h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 1rem;
  line-height: 1; }

h3 {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-weight: 800;
  margin-bottom: 1rem; }

h6 {
  text-align: center;
  font-size: 1em;
  letter-spacing: .1rem;
  text-transform: uppercase; }

blockquote {
  border-left: 0.25em solid #67b2e7;
  padding-left: 1rem;
  font-size: 1.25em;
  line-height: 2rem;
  color: #031d40; }

.author {
  font-family: courier,serif; }
  .author:before {
    content: "– "; }

#header {
  font-size: 18px; }
  #header #toggle {
    background-color: #e2231a;
    color: white;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 1.5rem;
    z-index: 500;
    outline: none;
    -webkit-border: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); }
    #header #toggle #icon-menu, #header #toggle #icon-cross {
      display: block;
      position: absolute;
      padding: 0;
      bottom: .4em;
      right: .4em; }
    #header #toggle #icon-menu {
      opacity: 1; }
    #header #toggle #icon-cross {
      opacity: 0;
      -webkit-transform: rotate(-90deg) scale(0.5); }
    #header #toggle.active {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75); }
      #header #toggle.active #icon-menu {
        opacity: 0;
        -webkit-transform: rotate(90deg) scale(0.5); }
      #header #toggle.active #icon-cross {
        opacity: 1;
        -webkit-transform: rotate(90deg) scale(1); }
    #header #toggle:active {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75); }
  #header #toc {
    color: #031d40;
    padding: 2rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white; }
    #header #toc.fixed {
      position: fixed;
      top: 0;
      right: -150%;
      bottom: 0;
      width: 80%;
      max-width: 18.75em;
      z-index: 3;
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      -webkit-box-sizing: border-box; }
    #header #toc.open {
      right: 0; }
    #header #toc ol {
      padding: 0 2em;
      border-bottom: 1px solid #67b2e7; }
      #header #toc ol li {
        border-top: 1px solid #67b2e7;
        margin: 0;
        padding: 0; }
    #header #toc a {
      display: block;
      padding: .25em 1em;
      color: #031d40;
      font-size: 1em;
      text-decoration: none;
      outline: none; }
      #header #toc a:active {
        background-color: #51a7e4; }

button {
  font-family: 'proxima-nova',helvetica,arial,sans-serif;
  color: #e2231a;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1em;
  border: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25); }

.action {
  display: block;
  margin: 4rem auto;
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #e2231a;
  font-weight: 800;
  letter-spacing: .1em; }
  .action span {
    font-size: 2em;
    line-height: 2;
    vertical-align: middle; }

article {
  padding: 0 0 2rem 0; }
  article a {
    color: #67b2e7;
    box-shadow: 0 1px 0 0 #67b2e7;
    text-decoration: none; }
    article a:hover {
      box-shadow: 0 3px 0 0 #67b2e7; }
    article a:active {
      color: #031d40;
      box-shadow: 0 3px 0 0 #031d40; }
    article a:visited {
      color: #828282;
      box-shadow: 0 1px 0 0 #828282; }
  article header {
    border-top: 2px solid #031d40;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.95); }
    article header nav a {
      display: inline-block;
      margin: 0;
      padding: 0.5rem 0.5rem;
      box-shadow: none;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      outline: none;
      -webkit-border: none;
      -webkit-outline: none; }
    article header h6 {
      text-align: center;
      color: #031d40;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1em;
      margin: 0;
      padding: 0.5rem 0; }
    article header h6 {
      float: left;
      text-align: left; }
    article header nav {
      float: right; }
    article header.fixed {
      box-shadow: 0 0.1em 0 0 rgba(0, 0, 0, 0.25); }
      article header.fixed h6 {
        text-shadow: -1px 1px 0 #67b2e7, -2px 2px 0 #67b2e7; }
  article section {
    padding: 2rem;
    max-width: 45rem;
    margin: 0 auto;
    font-size: 1em; }
  article h1 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 10rem 0; }
    @media screen and (min-width: 43.75em) {
      article h1 {
        font-size: 3em; } }
    @media screen and (min-width: 62.5em) {
      article h1 {
        font-size: 4em; } }
  article h2 {
    font-size: 1.5em; }
    @media screen and (min-width: 43.75em) {
      article h2 {
        font-size: 2em; } }
    @media screen and (min-width: 62.5em) {
      article h2 {
        font-size: 2.5em; } }
  article h3 {
    font-weight: 500; }
    @media screen and (min-width: 43.75em) {
      article h3 {
        font-size: 1.5em; } }
  article > article {
    padding: 1rem; }

.full-screen {
  background-size: cover;
  background-position: center;
  padding: 0;
  width: 100%;
  position: relative;
  max-height: 1000px !important;
  overflow: hidden !important;
  display: flex;
  display: -webkit-flex; }
  .full-screen section {
    margin: auto; }
  .full-screen img {
    width: 100%; }
  .full-screen video {
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    right: 0; }

.fluid-width-video-wrapper {
  margin-bottom: 1.5rem; }

.flexvideo-16-9 {
  position: relative;
  padding: 0 0 56.5% 0;
  height: 0;
  margin: 1em 0;
  z-index: 300; }

.flexvideo-16-9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 301; }

.background-video {
  display: block;
  position: absolute;
  bottom: 0;
  min-width: 100% !important;
  min-height: 100% !important;
  z-index: -1000;
  overflow: hidden; }

.overflow-hidden {
  overflow: hidden; }

.sticky {
  position: relative;
  z-index: 2; }

.sticky.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.sticky.fixed.absolute {
  position: absolute; }

.window {
  position: fixed;
  z-index: 0;
  opacity: 0;
  top: 150%;
  left: 1em;
  right: 1em;
  bottom: 1em;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 1em; }
  .window .close-window {
    position: fixed;
    top: 1em;
    right: 1em; }
  .window.open {
    z-index: 1000;
    top: 1em;
    opacity: 1;
    overflow-y: scroll; }

/**
 * Images
 */
img {
  display: block;
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  vertical-align: middle; }

#Intro {
  position: relative;
  background-image: url(../img/content/01intro/2014_cover.jpg);
  text-align: center;
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  display: -webkit-flex;
  color: white; }
  #Intro:before {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .75;
    background: linear-gradient(0deg, #e2231a, #67b2e7); }
  #Intro section {
    margin: auto;
    z-index: 5; }
    #Intro section h1 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.5em;
      letter-spacing: .1em; }
      #Intro section h1 .number {
        font-size: 4em;
        font-weight: 800; }
    @media screen and (min-width: 43.75em) {
      #Intro section h1 {
        font-size: 2em; } }
    #Intro section img {
      max-width: 7rem; }

#Letter {
  color: #031d40; }
  #Letter h1 {
    color: #67b2e7; }
  #Letter section {
    position: relative; }

#BB101 {
  background-color: #e2231a;
  color: white; }
  #BB101 #Routes {
    background-color: #031d40; }
  #BB101 #routelist {
    list-style-type: none; }
    #BB101 #routelist li {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      float: left; }
      #BB101 #routelist li:nth-of-type(odd) {
        clear: left; }
      @media screen and (min-width: 43.75em) {
        #BB101 #routelist li {
          width: 50%; } }
    #BB101 #routelist .label {
      display: inline-block;
      border: 2px solid black;
      padding: .25em 1em;
      margin: 0.5rem auto;
      color: white;
      font-weight: 600;
      letter-spacing: .01em;
      border: 1px solid white;
      -webkit-text-rendering: antialiased; }
    #BB101 #routelist #CUS {
      background-color: #B21E44; }
    #BB101 #routelist #ME2SB {
      background-color: white;
      color: black; }
    #BB101 #routelist #NC2SD {
      background-color: #77C473; }
    #BB101 #routelist #SC2SC {
      background-color: black; }
    #BB101 #routelist #NUS {
      background-color: #F17AAB; }
    #BB101 #routelist #SUS {
      background-color: #EE4923; }
    #BB101 #routelist #P2C {
      background-color: #F38122; }
    #BB101 #routelist #P2S {
      background-color: #FCCE0D;
      color: black; }

#Accomplishments #accomplishments-numbers ul {
  list-style-type: none;
  text-align: center; }
#Accomplishments #accomplishments-numbers li {
  background: linear-gradient(0deg, #a9d3f1, white);
  border-bottom: 1px solid #67b2e7; }
  #Accomplishments #accomplishments-numbers li h6 {
    margin-bottom: 1.5rem;
    margin-top: 0;
    text-transform: uppercase;
    color: #67b2e7; }
  #Accomplishments #accomplishments-numbers li .number {
    font-size: 4em;
    color: #031d40;
    text-shadow: -1px 1px 0 white, -3px 3px 0 #67b2e7; }
#Accomplishments #accomplishments-grantee ul {
  list-style-type: none;
  text-align: center; }
#Accomplishments #accomplishments-grantee li .number {
  font-size: 4em; }
#Accomplishments #coastal-drift {
  background: linear-gradient(0deg, #031d40, #e2231a);
  color: white; }
#Accomplishments #fundraisers ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start; }
#Accomplishments #fundraisers li {
  width: 14em;
  padding: 1em;
  margin: 0;
  text-align: center;
  color: #031d40; }
  #Accomplishments #fundraisers li h5 {
    font-size: 1em;
    margin: 0; }
  #Accomplishments #fundraisers li img {
    width: 80%;
    margin: 1em auto;
    display: block; }
  #Accomplishments #fundraisers li .number {
    font-size: 1em; }
#Accomplishments .scholarship-grantee {
  float: left; }
  #Accomplishments .scholarship-grantee img {
    width: 60%;
    padding: 2em 0; }
  @media screen and (min-width: 43.75em) {
    #Accomplishments .scholarship-grantee {
      width: 45%;
      padding: 0.5rem 2.5%; }
      #Accomplishments .scholarship-grantee img {
        width: 80%; } }

#Riders {
  color: #031d40; }
  #Riders h6 span {
    color: #e2231a; }

#Partner .partners {
  width: 100%; }
#Partner .partner-logo {
  display: block;
  width: 25%;
  float: left; }

#Contact {
  color: white;
  background: linear-gradient(0deg, #031d40, #e2231a); }
  #Contact ul {
    width: 90%;
    margin: 0 auto;
    list-style: none;
    font-size: 0.875em; }
    #Contact ul strong {
      font-size: 1.25em; }
    #Contact ul li {
      float: left;
      width: 45%;
      padding: 0.5rem 2.5%; }
      #Contact ul li:nth-of-type(odd) {
        clear: left; }
  @media screen and (min-width: 75em) {
    #Contact #staff li {
      width: 20%; }
      #Contact #staff li:nth-of-type(odd) {
        clear: none; } }
  @media screen and (min-width: 62.5em) {
    #Contact #board li {
      width: 28%; }
      #Contact #board li:nth-of-type(odd) {
        clear: none; }
      #Contact #board li:nth-of-type(4), #Contact #board li:nth-of-type(7) {
        clear: left; } }
