@charset "utf-8";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

@import "variables";
@import "typography";
@import "modules";

/*
 *
 * Global Includes
 *
 */
#header{
	font-size:18px;
	#toggle{		
		background-color:$white;
		color:$red;
		position:fixed;
		bottom:$spacing-unit * 2;
		right:$spacing-unit * 2;
		width:$spacing-unit * 6;
		height:$spacing-unit * 6;
		border:none;
		border-radius:$spacing-unit * 3;
		z-index:501;
		outline:none;
		-webkit-border:none;
		
		box-shadow:0 0 0 3px rgba(0,0,0,.2);
		@extend %t01s;
		#icon-menu, #icon-cross{
			display:block;
			position:absolute;
			padding: 0;
			bottom:.375em;
			right:.35em;
			//line-height:1.65;
			@extend %t01s;
			@extend %teo;
			@extend %tei;
			
		}
		#icon-menu{
			opacity:1;
		}
		#icon-cross{
			opacity:0;
			-webkit-transform:rotate(-90deg) scale(.5);
		}
		&.active{
			//box-shadow:0 0 0 1px rgba(0,0,0,.75);
			#icon-menu{
				opacity:0;
				-webkit-transform:rotate(90deg) scale(.5);
			}
			#icon-cross{
				opacity:1;
				-webkit-transform:rotate(90deg) scale(1);
			}
		}
		&:hover{
			//transform:scale(1.05);
		}
		&:active{
			//background-color:darken($red,5%);
			box-shadow:0 0 0 1px rgba(0,0,0,.5);
			//transform:scale(.95);
		}
	}
	#toc{
		color:$blue-dark;
		@extend %t01s;
		
		@extend %tei;	
		padding:$spacing-unit * 4 0;
		overflow-y:scroll;
		overflow-x:hidden;
		background-color:rgba(255,255,255,1);
		&.fixed{
			position:fixed;
			top:0;
			right:-150%;
			//bottom:$spacing-unit *10;
			bottom:0;
			//left:$spacing-unit *10;
			//right:$spacing-unit *10;
			width:80%;
			max-width:(em(300));
			z-index:500;
			box-shadow:0px 0px 0px 2px rgba(0,0,0,.25);
			box-sizing:border-box;
			-webkit-box-sizing:border-box;		
		}		
		&.open{
			right:0;
			@extend %teo;		
		}
		h3{
			//background-color:rgba(255,255,255,1);
		}
		ol{
			//background-color:rgba(255,255,255,1);
			//padding:0 2em;
			//list-style:decimal-leading-zero;
			li{
				//border-t:1px solid lighten($blue-dark, 5%);
				border-top:1px solid $blue-light;
				margin:0;
				padding:0;
			}
			border-bottom:1px solid $blue-light;
		}
		ul{
			li{
				
			}
			
		}
		.page-link{
			text-transform:uppercase;
			font-size:$small-font-size;
			letter-spacing:.1em;
			font-weight:400;
			span{
				font-size:1rem;
			}
		}
		a{
			display:block;
			padding:.25em 1em;
			color:$blue-dark;
			font-size:1em;
			text-decoration:none;
			outline:none;
			font-weight:600;
			@extend %t01s;
			@extend %teo;
			&:hover{
				
			}
			&:active{
				//color:$white;
				background-color:darken($blue-light,5%);
			}
			&:visited{
				//text-decoration:line-through!important;
			}
		}
	}
}
#footer{
	text-align:center;
	background-color:$white;
	padding:$spacing-unit *4;
	border-top:1px solid $grey-light;
	
	a{
		color:$blue-light;
		&:hover{
			color:$red;
		}
		&:active{
			color:$blue-dark;
		}
	}
}

/*
 *
 * Indexed Sections
 *
 */
#Intro{	
	//background: linear-gradient(0deg, $blue-dark, $blue-light);
	position:relative;
	&:before{
		display:block;
		content:' ';
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		opacity:.75;
		background: linear-gradient(0deg, $red, $blue-light);
	}
	background-image:url(../img/content/01intro/2014_cover.jpg);
	text-align:center;
	@include full-bleed-background;
	background-position:50% 50%;
	display:flex;
	display:-webkit-flex;
	color:$white;
	height:100vh;
	section{
		margin:auto;
		z-index:5;		
		img{
			max-width:$spacing-unit * 14;
			width:14vh;
		}
		h2{
			font-size:4vh;
		}		
		h1#title{
			text-transform:uppercase;
			font-weight:500;
			font-size:$base-font-size * 1.5;
			font-size:3vh;
			letter-spacing:.1em;
			.number {
				font-size:$base-font-size * 4;
				font-weight:800;
			}
			
			@media screen and (min-width:$tablet){
				position:absolute;
				top:0;
				right:2rem;
				margin-top:0;
				font-size:1.5em!important;
			}
			
		}
		@media screen and (min-width:$tablet){
			#logo{
				position:absolute;
				top:2rem;
				left:2rem;
				width:9em;
				img{
					width:4.5em!important;
				}
				h2{
					font-size:1.5em;
				}
			}
			h1{
				font-size:$base-font-size * 2;
				font-size:4vh;
			}
		}		
	}
	//#open-letter-window
	button, a.button{
		border:2px solid $white;
		background-color:transparent;
		color:$white;
		&:hover, &:active{
			background-color:$white;
			color:$blue-light;
		}
		a{
			color:$white;
			text-decoration:none;
			border:none;
			&:hover, &:active{
				background-color:$white;
				color:$blue-light;
			}
		}
		//position:absolute;
		//bottom:0;
		//left:$spacing-unit *3;
		cursor:pointer;
	}	
	#intro-credit{
		text-align:left;
		left:2em;
	}
	
}
#Letter{
	//background: linear-gradient(0deg, $blue-light, $white);
	header{
		background-image:url(../img/content/02horizons/horizons.jpg);
	}
	color:$blue-dark;
	h1{
		//color:$blue-light;
	}
	div.bg{
		//display:block;
		//content:'';
		//position:fixed;
		//top:0;
		//left:0;
		//right:0;
		//bottom:0;
		//background-image:url(../img/content/01intro/2014_cover.jpg);
		//z-index:-1;
		//background-size:cover;
	}
	section{
		position:relative;
		//z-index:1;
	}
	//overflow:hidden;
}
#BB101{
	background-color:$white;
	color:$red;
	header.hero {
	   	background-image: url('../img/content/04about/about.jpg');
		background-position: 50% 0;
		&:before{
			background:linear-gradient(0deg, $red, $blue-dark);
		}
	}
	h2{//color:$blue-light;
	}
	#Cause{
		//background-color:$black;
	}
	#Routes{
		//background-color:$blue-dark;
		color:$blue-dark;
		h3{
			color:$red;
		} 
	}
	#routelist{	
	margin-top:$spacing-unit *2;
	list-style-type:none;
	@extend %clearfix;
		
		li{
			text-align:center;
			width:100%;
			margin:0 auto;
			padding:0;
			float:left;
			&:nth-of-type(odd){
					clear:left;
			}
			@media screen and (min-width:$tablet){
				width:50%;
			}
		}
		
		.label{
		display:inline-block;
		border:2px solid black;
		@extend %round-corner;
		border-radius:3em;
		-webkit-border-radius:3em;
		-moz-border-radius:3em;
		-ms-border-radius:3em;
		padding:.25em 1em;
		margin:$spacing-unit auto;
		color:$white;
		font-weight:600;
		letter-spacing:.01em;
		border:1px solid $blue-dark;
		-webkit-text-rendering:antialiased;
		}
		#CUS{background-color:#B21E44;}
		#ME2SB{background-color:$white;color:$black;}
		#NC2SD{background-color:#77C473;}
		#SC2SC{background-color:$black;}
		#NUS{background-color:#F17AAB;}
		#SUS{background-color:#EE4923;}
		#P2C{background-color:#F38122;}
		#P2S{background-color:#FCCE0D;color:$black;}
	}
}
#Accomplishments{	
	//position:relative;
	//background: linear-gradient(0deg, $blue-dark, $red);
	@extend %clearfix;
	header.hero{
		//background-image:url(../img/content/03accomplishments/accomplishments.jpg);
	}
	.pre-window{
		//display:none;
	}
	#accomplishments-nav-wrap{
		//display:none;
		position:absolute;
		bottom:2em;
		left:0;
		right:0;
	}
	#accomplishments-nav{
		li{
			span.dot{
				background-color:rgba(255,255,255,.25);
			}
			
		}
		li.selected{
			span.dot{
				background-color:$white;
			}
		}
	}
	#accNumNext, #skip-moreAcc{
		position:absolute;
		right:1em;
		top:46%;
		margin:1em;
	}	
	#accomplishments-numbers{
		position:relative;
		@extend %clearfix;
		margin-top:-50px;
		>div{
			@extend %clearfix;		
			>div{
				font-size:1rem;
				text-align:center;
				color:$white;
				section{
					width:100%;
					max-width:100%;
				}
				span{
					//color:$blue-light;
					opacity:.5;
				}
				h3{
			    //margin-top:1em;
				margin-bottom:$spacing-unit *3;
				margin-top:0;
				text-transform:uppercase;
				//color:$blue-dark;
				font-weight:500;
				}
				.number{
				font-size:$base-font-size * 4;
				font-size:10vw;
				line-height:1.5;
				//margin:1rem auto !important;
				//color:$blue-dark;
				//text-shadow:-1px 1px 0 #FFF, -3px 3px 0 $blue-light;
					@media screen and (min-width:$tablet){
						//display:none;
					}
					
				}
				
				@media screen and (min-width:$tablet){
					//font-size:1.5rem;
				}
			}
			
		}
	}
	#by-the-numbers{
		background:$blue-dark;
	}
	#total-riders{
		background:linear-gradient(90deg, $blue-dark, $blue-light  );
	}
	#miles-pedaled{
		background:$blue-light;
	}
	#average-dollars{
		background:linear-gradient(90deg, $blue-light, $red );
	}
	#dollars-granted{	
		background:$red;
	}
	#grants-recieved{
		background:linear-gradient(90deg, $red, $blue-dark);
	}
	#accomplishments-grantee{
		background:$blue-dark;
		section, ul{
			max-width:100%;
			width:100%;
		}
		ul{
			list-style-type:none;
			text-align:center;
			@extend %clearfix;
			li{
				font-size:1rem;
				float:left;
				width:100%;
				color:$blue-light;
				@media screen and (min-width:$tablet){
					width:33%;
				}
				.number{
					display:block;
					font-size:$base-font-size * 3;
				}
				p{font-size:1em;}
			}
		}
	}
	#build-days{
		background:linear-gradient(90deg, $blue-dark, $red);
	}
	#build-hours{
		background:$red;
	}	
	#moreAcc{
		h3{color:$red;}
		padding-top:4em;
		color:$blue-dark;
		.pre-window{
			h3{color:$white;}
		}
	}		
	#coastal-drift{
		header.hero{
			background-image: url(../img/content/03accomplishments/CoastalDrift_AndyShort.jpg);
			@include full-bleed-background;
			&:before{
				background:linear-gradient(0deg, $blue-dark, $red);
			}
		}
	}
	#scholarships{
		color:$blue-dark;
		header.hero{
			background:linear-gradient(0deg, $red, $blue-light);
			//background:$red;
		}
	}
	.scholarship-grantee{
		
		img{
			width:60%;
			padding:2em 0;
			@extend %perfect-circle;
		}
	   float:left;
	   @media screen and (min-width:$tablet){
		   width:45%;
		   padding:$spacing-unit 2.5%;
		   img{
		   	width:80%;
		   }
	   }
	   figcaption{
		   text-align:center;
	   }
	   blockquote{
		  width:100%;
		  margin:$spacing-unit 0;
	   }	
	}
}
#Impact{
	color:$blue-dark;
	&.open{
		header{
			//@extend %perfect-circle;
		}
	}
	header{
		//@extend %perfect-circle;
	}
	header.hero{
		background-image:url(../img/content/05impact/impact.jpg);
		&:before{
			background:linear-gradient(0deg, $blue-dark, $blue-light);
			//background:$blue-light;
		}
	}
	#GrantPrograms{
		dt{}
		dd{}
	}
	#GranteeProfiles{
		&.open{
			.grantee{
				header{
					@extend %perfect-circle;
				}
			}
		}
		.grantee{
			header{
				@extend %perfect-circle;
			}
		}
	}
	
	.grantee{
		header{
			position:relative;
			overflow:hidden;
			margin:0 auto;
			@include full-bleed-background;
			@extend %perfect-circle;
			width:(em(250));
			height:(em(250));
			@media screen and (min-width:$tablet){
				width:(em(400));
				height:(em(400));
			}
		}
	}
	#grantee-nav-wrap{
		text-align:center;
		#grantee-nav{
			
			@media screen and (min-width:$laptop){
				width:90%;
				margin:1em 5%;
			}
			li{
				margin:0;
				@extend %t01s;
				
				span.dot{
					display:block;
				}
				span.text{
					display:none;
				}
				
				@media screen and (min-width:$laptop){
					span.dot{
						display:none;
					}
					span.text{
						display:inline;
					}
					line-height:1.5;
					width:16%;
					position:relative;
					padding:1em 2%;
					box-shadow:0 0 0 0 rgba(0,0,0,0);					
					&.selected{
						//box-shadow:0 4px 0 0 $brand-color;
						@extend %t01s;
						&:after{
							//display:block;
							//content:' ';
							//position:absolute;
							//bottom:-.75em;
							//left:45%;
							//width: 0; 
							//height: 0; 
							//border-left: 0.5em solid transparent;
							//border-right: 0.5em solid transparent;
							//border-top: 0.5em solid $brand-color;
						}
					}
					
				}
			}
		}
		
	}
	#Idaho{
		header{background-image:url(../img/content/05impact/grantee_KTEC.jpg)}
	}
	#YouthBuild{
		header{background-image:url(../img/content/05impact/grantee_YBPhilly.jpg)}
	}
	#Stafford{
		header{background-image:url(../img/content/05impact/grantee_Stafford.jpg)}
	}
	#Grid{
		header{background-image:url(../img/content/05impact/grantee_GRID.jpg)}
	}
	#Purdue{
		header{background-image:url(../img/content/05impact/grantee_Purdue.jpg)}
	}
	
	
}
#Riders{
	color:$blue-dark;
	header.hero{
		background-image:url(../img/content/06riders/riders-intro.jpg);
		background-position:50% 75%;
		&:before{
			background:linear-gradient(0deg, $red, $blue-dark);
		}
		//background:linear-gradient(90deg, $red, $blue-light);
	}
	.rider-portrait{
		@extend %perfect-circle;
		margin:$spacing-unit *5 auto;
		padding:0;
		overflow:hidden;
		width:(em(250));
		height:(em(250));
		
		
		
		img{
			margin-left:-15%;
			width:150%;
		}
		@media screen and (min-width:$tablet) {
			width:(em(400));
			height:(em(400));
			
		}
	}
	#fundraisers{
		@extend %clearfix;
		clear:both;
		//width:100%;
		ul{
			//clear:both;
			list-style-type:none;
			text-align:center;
			@extend %clearfix;
			clear:both;
			padding:0;
			margin:2em auto;
			//display:flex;
			//display:-webkit-flex;
			//flex-flow: row wrap;
			//justify-content:center;
			//align-items: flex-start;
			max-width:(em(1000));
		}
		li{
		    float:left;
			width:50%;
			padding:1em 0;
			margin:0;
			text-align:center;
			color:$blue-dark;
			&:nth-of-type(5){
				margin-left:25%;
			}
			@media screen and (min-width:$phablet){
				width:33.3%;
				&:nth-of-type(4){
					margin-left:16.65%;
				}
				&:nth-of-type(5){
					margin-left:0;
				}
			}
			@media screen and (min-width:$laptop){
				width:20%;
				&:nth-of-type(4){
					margin-left:0;
				}
			}
			h5{
				font-size:1em;
				margin:0;
			}
			img{
				width:80%;
				//border:10px solid $blue-dark;
				margin:1em auto;
				display:block;
				@extend %perfect-circle;
			}
			.number{
				font-size:1em;
			}
		}
	}
	h6{
		span{
			color:$red;
		}
	}
	
}
#Alumni{
	color:$blue-dark;
	h2, h3, h6{
		//color:$blue-light;
	}
	span.icon-location{
		color:$red;
	}
	header.hero{
		background-image:url(../img/content/07alumni/alumni.jpg);
		&:before{
			//background:linear-gradient(0deg, $blue-dark, $red);
			background:$blue-light;
		}
	}
	.alumni-portrait{
		@extend %perfect-circle;
		width:(em(250));
		height:(em(250));
		overflow:hidden;
		margin:$spacing-unit *5 auto;
		@media screen and (min-width:$tablet){
			width:(em(400));
			height:(em(400));
		}
		img{
			margin-top:-3em;
		}
	}
}
#Financials{
	clear:both;
	color:$blue-dark;
	padding:0;
	div{
		@extend %clearfix;
	}
	header.hero{
		//margin-top:-5rem;
		background-color:$red;
		background:linear-gradient(0deg, $blue-dark, $red);
		margin-bottom:0;
	}
	.financials-intro{
		@extend %clearfix;
		background-color:$blue-dark;
		color:$white;
		padding:$spacing-unit *4 0;
		//float:left;
		//width:100%;
		#pie-cause{
			img{
				margin:$spacing-unit *4 auto;
				width:15vw;
				//border:.5em solid rgba(255,255,255,.1);
				//border-radius:50%;
			}
			figcaption{
				color:rgba(255,255,255,.65);
				color:$blue-light;
				span.highlight{
					color:$white;
				}
			}
		}
	}
	.financials-grants{
		padding:$spacing-unit *4 0;
		background-color:$white;
		color:$blue-dark;
		figure{
			//max-width:(em(800));
			div.ratio-blocks{
				position:relative;
				width:90%;
				margin:1em 5%;
				padding:0;
				@extend %clearfix;
				float:left;
				background-color:$blue-light;
				&:before{
					content:' ';
					display:block;
					padding-top:60%;
				}
				
				.ratio{
					position:absolute;
					padding:0;
					text-align:center;
					//display:flex;
					//display:-webkit-flex;
				    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
				    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
				    box-sizing: border-box;  
					border:1px solid $white;
					.block-legend{
						display:block;
						padding:0;
						color:$white;
						line-height:1.25;
						height:1.25em; width:1.25em;
						padding:0;
						border-radius:0 0 .5em 0;
						-ms-border-radius:0 0 .5em 0;
						-moz-border-radius:0 0 .5em 0;
						-webkit-border-radius:0 0 .5em 0;
					}
				}
				//1
				#cgp{
					height:100%; width:61%; left:0; top:0;
					background-color:$blue-light;
					//background-image: 
					//	radial-gradient($blue-light 15%, transparent 16%),
					//	radial-gradient($blue-light 15%, transparent 16%);
					//background-size:16px 16px;
					//background-position: 0 0, 8px 8px;
					.block-legend{
						background-color:$blue-light;
					}
				}
				//2
				#r5d{
					height: 40%; width: 39%; top:0; right:0;
					background-color:$blue-light;
					background-image: 
						radial-gradient($red 22%, transparent 23%),
						radial-gradient($red 22%, transparent 23%);
					background-size:10px 10px;
					background-position: 0 0, 5px 5px;
					.block-legend{
						background-color:$blue-light;
					}
				 }
				 //3
				#papc{ 
					height: 60%; width: 19%; right:0; bottom:0;
					//background-color: $blue-light; 
					background-color:$red;
					background-image: 
						radial-gradient($blue-light 35%, transparent 40%),
						radial-gradient($blue-light 35%, transparent 40%);
					background-size:10px 10px;
					background-position: 0 0, 5px 5px;
					.block-legend{
						background-color:$red;
					}
				}
				//4
				#otr{
					height: 28%; width: 20%; right:19%; bottom:0;
					background-color:$red;
					.block-legend{
						background-color:$red;
					}
				 }
				 //5
 				#cwmc{
 					height: 32%; width: 16%; bottom:28%; left:61%;
				   //background-color:$red;
				   //background-image: linear-gradient(to bottom, $blue-dark 0, rgba(255, 255, 255, 0) 2px);
				   //background-repeat: repeat;
				   //background-size: 100% 5px;
					
					
					background-color:$red;
					background-image: 
						radial-gradient($blue-dark 40%, transparent 42%),
						radial-gradient($blue-dark 40%, transparent 42%);
					background-size:10px 10px;
					background-position: 0 0, 5px 5px;
					
					.block-legend{
						background-color:$red;
					}
 				 }
				 //6
				#aceg{
					height: 27%; width: 4%; top:40%; right:19%;
					background-color:$blue-dark;
					background-image: 
						radial-gradient($red 15%, transparent 16%),
						radial-gradient($red 15%, transparent 16%);
					background-size:10px 10px;
					background-position: 0 0, 5px 5px;
					.block-legend{
						background-color:$blue-dark;
					}
				 }
				 //7				
				#other{
					height: 5%; width: 4%; bottom:28%; right:19%;
					background:linear-gradient(0deg, $blue-light, $blue-dark );
					background:$blue-dark;
					.block-legend{
						//background-color:$blue-dark;
					}
				 }
				
			}
			img{}
			figcaption{
				margin:1em 5%;
			}
			@media screen and (min-width:$laptop){
				//div.ratio-blocks{
				//	//float:left;
				//	width:42.5%;
				//	margin:1em 2.5% 1em 5%;
				//}
				//figcaption{
				//	float:left;
				//	width:42.5%;
				//	margin:1em 5% 1em 2.5%;
				//}
			}
		}
	}
	.financials-by-year{
		background-color:$blue-dark;
		//background:linear-gradient(45deg, $blue-dark, $red);
		padding:$spacing-unit *4 0;
		color:$white;
		//min-height:50vh;
		h3{
			color:$blue-light;
			margin-bottom:4em;
		}		
		figure{
			width:90%;
			margin:1em auto;
			position:relative;
			img{width:90%;margin:1em auto;}
			figcaption{
				margin-top:2em;
			}
			tr.year-values{
				color:$blue-light;
			}
			@media screen and (max-width:$tablet){
				img{display:none;}
				table#by-the-years{
					tr:nth-of-type(1){
						float:right;
						text-align:left;
						th,td{text-align:left;}
						width:48%;
						margin:0 2%;
					}
					tr:nth-of-type(2){
						float:left;
						text-align:right;
						th,td{text-align:right;}
						width:44%;
						margin:0 2%;
					}
					th,td{
						width:100%;
						float:left;
					}
				}
			}
			@media screen and (min-width:$tablet){
				img{display:block;}
				table#by-the-years{
					margin-top:2em;
					th,td{
						text-align:center!important;
					}
					td.donation-value{
						position:absolute;
						width:11.1%;
						&:after{
							position:absolute;
						
						}
					}
					td.a{bottom:34%;left:0%;}
					td.b{bottom:37%;left:11.1%;}
					td.c{bottom:48%;left:22.2%;}
					td.d{bottom:100%;left:33.3%;}
					td.e{bottom:58%;left:44.4%}
					td.f{bottom:62%;left:55.5%;}
					td.g{bottom:90%;left:66.6%;}
					td.h{bottom:45%;left:77.7%;}
					td.i{bottom:85%;left:88.8%;}
		
					tr.donation-values{
						display:block;
						margin:4em 0;
						border:none;
					}
				
					tr.year-values{
					
						border-top:1px dotted $blue-light;
						//border-top:1px dotted rgba(255,255,255,.5);
					}
				
					td.year-value{
						position:relative;
						text-align:center;
						width:11.1%;
						&:before{
							position:absolute;
							display:block;
							content:' ';
							margin:-1em 0 0 49%;
							width:1px;
							height:1em;
							background-color:$blue-light;
							//background-color:rgba(0,0,0,.5);
								}
						}
					}
			}
		}
	}
	.audited-financials{
		padding:$spacing-unit *4 0;
		h3{
			//color:$blue-light;
		}
		thead{
			color:$red;						
		}
		table{
			margin-top:1em;
		}
		
	}
	.expenses{
		padding:$spacing-unit *4 0;
		background:$red;
		background:linear-gradient(45deg, $blue-dark, $red);
		color:$white;
		h3{
			color:$white;
		}
	}
	table{
		width:100%;
		text-align:left;
		thead{
			font-size:1.25em;
			th{
				font-weight:500;
			}
			th:nth-of-type(2){
				text-align:right;
			}
			th:last-child{
				text-align:right;
			}
		}
		tbody{
			td{
				
			}
			td:nth-of-type(2){
				text-align:right;
			}
			td:last-child{
				text-align:right;
			}
		}
		tr:last-child{
			font-weight:bold;
		}
	}
	
	
	.financials-expenses{
		tr:last-child{
			font-weight:bold;
		}
	}
	
}
#Closing{
	color:$blue-dark;
	header.hero{
		background-image:url(../img/content/08closing/closing.jpg);
		&:before{
			//background:linear-gradient(0deg, $red, $blue-light);
			background:$red;
		}
	}
	.share, .links{
		list-style:none;
		@extend %clearfix;
		text-align:center;
		a, a:visited{
			
			box-shadow:none;
			&:hover{
				box-shadow:none;
				color:$red!important;
			}
			&:active{
				color:$blue-dark!important;
			}
		}
	}
	.share{
		li{
			float:left;
			width:100%;
			text-align:left;
			&:last-child{
				span{
					vertical-align:-.2em;
				}
			}
			@media screen and (min-width:$tablet){
				width:20.5%;
				padding:0 0 0 12.5%;
				&:last-child{
					padding:1em 0;
					width:100%!important;
					text-align:center;
				}
			}
			
		}
	}
	.links{
		a{
			display:block;
		}
		li{
			float:left;
			width:25%;
		}
		
		span{
			display:block;
		}
		
	}
}


/* 
 *
 * Separate Pages 
 *
 */
#Partner{
	header.hero{
		//background-image:url(../img/content//.jpg);
		color:$white;
		//background-color:$red;
		background: linear-gradient(0deg, $red, $blue-light );
		&:before, &:after{
			display:none;
		}
	}
	color:$blue-dark;
	h2{
		color:$red;
	}
	#partner-facts{
		list-style:none;
		padding:0;
	}
	.partner-logos{
		@extend %clearfix;
	}
	.partner-logo{
		display:block;
		padding:1em 2.5%;
		width:45%;
		float:left;
		@media screen and (min-width:$tablet){
			width:20%;
		}
	}
}
#Contact{
	header.hero{
		background-image:url(../img/content/08closing/closing.jpg);
	}
	color:$white;
	background-color:$blue-dark;
	background: linear-gradient(45deg, $red, $blue-dark );
	ul{
		width:90%;
		margin:0 auto;
		list-style:none;
		@extend %clearfix;
		//text-align:center;
		font-size:$small-font-size;
		strong{
			font-size:1.25em;
		}
		li{
			float:left;
			width:45%;
			padding:$spacing-unit 2.5%;
			&:nth-of-type(odd){
				clear:left;
			}
		}
		
	}
	#staff{
		li{
			@media screen and (min-width:$laptop *1.2){
				width:20%;
				&:nth-of-type(odd){
					clear:none;
				}
			}
		}
		
	}
	#board{
		li{
			@media screen and (min-width:$laptop){
				width:28%;
				&:nth-of-type(odd){
					clear:none;
				}
				&:nth-of-type(4), &:nth-of-type(7){
					clear:left;
				}
			}
		}
		
	}
	#alumni{
		li{
			@media screen and (min-width:$laptop){
				width:28%;
				&:nth-of-type(odd){
					clear:none;
				}
			}
		}
	}
	
}



#open-coastal-drift-window{background-image:url(../img/content/03accomplishments/drift.jpg);}
#open-scholarships-window{background-image:url(../img/content/03accomplishments/scholarship.jpg);}

//#open-cause-window{background-image:url(../img/content/04about/whyweride.jpg);}
//#open-routes-window{background-image:url(../img/content/04about/whereweride.jpg);}

#open-grantee-window{background-image:url(../img/content/05impact/grantees.jpg);}

#open-alumni-window{background-image:url(../img/content/07alumni/pre-alumni.jpg);}