@charset "utf-8";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

@import "variables";
@import "typography";
@import "modules";

/**
 * Images
 */
img {
	display:block;
    width: 100%;
	max-width:em(1200);
	margin:0 auto;
    vertical-align: middle;
}
#Intro{
	//background: linear-gradient(0deg, $blue-dark, $blue-light);
	position:relative;
	&:before{
		display:block;
		content:' ';
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		opacity:.75;
		background: linear-gradient(0deg, $red, $blue-light);
	}
	background-image:url(../img/content/01intro/2014_cover.jpg);
	text-align:center;
	@include full-bleed-background;
	background-position:50% 50%;
	display:flex;
	display:-webkit-flex;
	color:$white;
	section{
		margin:auto;
		z-index:5;
		h1{
			text-transform:uppercase;
			font-weight:500;
			font-size:$base-font-size * 1.5;
			letter-spacing:.1em;
			.number {
				font-size:$base-font-size * 4;
				font-weight:800;
			}
		}
		@media screen and (min-width:$tablet){
			h1{
				font-size:$base-font-size * 2;
			}
		}
		
		img{
			//width:30%;
			max-width:$spacing-unit * 14;
			//height:$spacing-unit * 20;
		}
	}
	#open-letter-window{
		color:$white;
		position:absolute;
		bottom:0;
		left:$spacing-unit *3;
		cursor:pointer;
	}
}
#Letter{
	//background: linear-gradient(0deg, $blue-light, $white);
	header{
		background-image:url(../img/content/02horizons/horizons.jpg);
	}
	color:$blue-dark;
	h1{
		//color:$blue-light;
	}
	div.bg{
		//display:block;
		//content:'';
		//position:fixed;
		//top:0;
		//left:0;
		//right:0;
		//bottom:0;
		//background-image:url(../img/content/01intro/2014_cover.jpg);
		//z-index:-1;
		//background-size:cover;
	}
	section{
		position:relative;
		//z-index:1;
	}
	//overflow:hidden;
}
#BB101{
	background-color:$white;
	color:$blue-dark;
	h2{color:$blue-light;}
	#Cause{
		//background-color:$black;
	}
	#Routes{
		background-color:$blue-dark;
	}
	#routelist{
	list-style-type:none;
	@extend %clearfix;
		
		li{
			text-align:center;
			width:100%;
			margin:0 auto;
			padding:0;
			float:left;
			&:nth-of-type(odd){
					clear:left;
			}
			@media screen and (min-width:$tablet){
				width:50%;
			}
		}
		
		.label{
		display:inline-block;
		border:2px solid black;
		@extend %round-corner;
		padding:.25em 1em;
		margin:$spacing-unit auto;
		color:$white;
		font-weight:600;
		letter-spacing:.01em;
		border:1px solid $white;
		-webkit-text-rendering:antialiased;
		}
		#CUS{background-color:#B21E44;}
		#ME2SB{background-color:$white;color:$black;}
		#NC2SD{background-color:#77C473;}
		#SC2SC{background-color:$black;}
		#NUS{background-color:#F17AAB;}
		#SUS{background-color:#EE4923;}
		#P2C{background-color:#F38122;}
		#P2S{background-color:#FCCE0D;color:$black;}
	}
}
#Accomplishments{	
	//background: linear-gradient(0deg, $blue-dark, $red);
	header.hero{
		background-image:url(../img/content/03accomplishments/accomplishments.jpg);
	}
	#accomplishments-numbers{
		position:relative;
		@extend %clearfix;
		#counter{
			display: none;
			text-align:left;
			//position:fixed;
			padding:0 $spacing-unit *10;
			z-index: 1000;
			color: #e2231a;
			font-weight: bold;
			//left: 10rem;
			//top: 0rem;
			z-index: 5000;
			//background-color: white;
			//padding: 5em;
			font-size:$base-font-size * 4;
			color:$blue-dark;
			text-shadow:-1px 1px 0 #FFF, -3px 3px 0 $blue-light;
			@media screen and (min-width:$tablet){
				display:block;
			}
		}
		>ul{
			list-style-type:none;
			text-align:center;
			@extend %clearfix;		
			>li{
				font-size:1rem;
				//background: linear-gradient(0deg, lighten($blue-light,15%), $white);
				//border-bottom:1px solid $blue-light;
				section{
					width:100%;
					max-width:100%;
				}
				span{
					color:$blue-light;
				}
				h6{
				margin-bottom:$spacing-unit *3;
				margin-top:0;
				text-transform:uppercase;
				color:$blue-dark;
				font-weight:500;
				}
				.number{
				font-size:$base-font-size * 4;
				color:$blue-dark;
				text-shadow:-1px 1px 0 #FFF, -3px 3px 0 $blue-light;
					@media screen and (min-width:$tablet){
						display:none;
					}
				}
				
				@media screen and (min-width:$tablet){
					font-size:1.5rem;
				}
			}
		}
	}
	#accomplishments-grantee{
		section, ul{
			max-width:100%;
			width:100%;
		}
		ul{
			list-style-type:none;
			text-align:center;
			@extend %clearfix;
			li{
				font-size:1rem;
				float:left;
				width:100%;
				color:$blue-dark;
				@media screen and (min-width:$tablet){
					width:33%;
				}
				.number{
					display:block;
					font-size:$base-font-size * 4;
				}
				p{font-size:1em;}
			}
		}
	}	
	#coastal-drift{
		background: linear-gradient(0deg, $blue-dark, $red);
		color:$white;
	}
	
	.scholarship-grantee{
		img{
			width:60%;
			padding:2em 0;
			@extend %perfect-circle;
		}
	   float:left;
	   @media screen and (min-width:$tablet){
		   width:45%;
		   padding:$spacing-unit 2.5%;
		   img{
		   	width:80%;
		   }
	   }
	   figcaption{
		   text-align:center;
	   }
	   blockquote{
		  width:100%;
		  margin:$spacing-unit 0;
	   }	
	}
}



#Impact{
	header.hero{
		background-image:url(../img/content/05impact/impact.jpg);
	}
	#GrantPrograms{
		dt{}
		dd{}
	}
	#GranteeProfiles{
		.grantee{
		
		}
	}
	
	.grantee{
		header{
			position:relative;
			overflow:hidden;
			margin:0 auto;
			@include full-bleed-background;
			@extend %perfect-circle;
			width:(em(250));
			height:(em(250));
			@media screen and (min-width:$tablet){
				width:(em(400));
				height:(em(400));
			}
		}
	}
	
	#Idaho{
		header{background-image:url(../img/content/05impact/grantee_KTEC.jpg)}
	}
	#YouthBuild{
		header{background-image:url(../img/content/05impact/grantee_YBPhilly.jpg)}
	}
	#Stafford{
		header{background-image:url(../img/content/05impact/grantee_Stafford.jpg)}
	}
	#Grid{
		header{background-image:url(../img/content/05impact/grantee_GRID.jpg)}
	}
	#Purdue{
		header{background-image:url(../img/content/05impact/grantee_Purdue.jpg)}
	}
	
	
}
#Riders{
	color:$blue-dark;
	.rider-portrait{
		@extend %perfect-circle;
		margin:$spacing-unit *5 auto;
		padding:0;
		overflow:hidden;
		width:(em(250));
		height:(em(250));
		img{
			margin-left:-15%;
			width:150%;
		}
		@media screen and (min-width:$tablet) {
			width:(em(400));
			height:(em(400));
			
		}
	}
	#fundraisers{
		ul{
			list-style-type:none;
			text-align:center;
			@extend %clearfix;
			padding:0;
			margin:0;
			display:flex;
			display:-webkit-flex;
			flex-flow: row wrap;
			justify-content:center;
			align-items: flex-start;
		}
		li{
			width:14em;
			padding:1em;
			margin:0;
			text-align:center;
			color:$blue-dark;
			h5{
				font-size:1em;
				margin:0;
			}
			img{
				width:80%;
				//border:10px solid $blue-dark;
				margin:1em auto;
				display:block;
				@extend %perfect-circle;
			}
			.number{
				font-size:1em;
			}
		}
	}
	h2{
		
	}
	h3{
		
	}
	h6{
		span{
			color:$red;
			//opacity:.5;
		}
	}
	
}
#Alumni{
	header.hero{
		background-image:url(../img/content/07alumni/alumni.jpg);
	}
	.alumni-portrait{
		@extend %perfect-circle;
		width:(em(250));
		height:(em(250));
		overflow:hidden;
		margin:$spacing-unit *5 auto;
		@media screen and (min-width:$tablet){
			width:(em(400));
			height:(em(400));
		}
		img{
			margin-top:-3em;
		}
	}
}
#Closing{
	header.hero{
		background-image:url(../img/content/08closing/closing.jpg);
	}
	.share, .links{
		list-style:none;
		@extend %clearfix;
		text-align:center;
		a, a:visited{
			
			box-shadow:none;
			&:hover{
				box-shadow:none;
				color:$red!important;
			}
			&:active{
				color:$blue-dark!important;
			}
		}
	}
	.share{
		li{
			float:left;
			width:100%;
			text-align:left;
			&:last-child{
				span{
					vertical-align:-.2em;
				}
			}
			@media screen and (min-width:$tablet){
				width:20.5%;
				padding:0 0 0 12.5%;
				&:last-child{
					padding:1em 0;
					width:100%!important;
					text-align:center;
				}
			}
			
		}
	}
	.links{
		a{
			display:block;
		}
		li{
			float:left;
			width:25%;
		}
		
		span{
			display:block;
		}
		
	}
}
/* Separate Pages */
#Partner{
	header.hero{
		background-image:url(../img/content//.jpg);
	}
	#partner-facts{
		list-style:none;
		padding:0;
	}
	.partner-logos{
		@extend %clearfix;
	}
	.partner-logo{
		display:block;
		padding:1em 2.5%;
		width:45%;
		float:left;
		@media screen and (min-width:$tablet){
			width:20%;
		}
	}
}
#Contact{
	header.hero{
		background-image:url(../img/content/08closing/closing.jpg);
	}
	color:$white;
	background-color:$blue-dark;
	background: linear-gradient(45deg, $blue-dark, $red);
	ul{
		width:90%;
		margin:0 auto;
		list-style:none;
		@extend %clearfix;
		//text-align:center;
		font-size:$small-font-size;
		strong{
			font-size:1.25em;
		}
		li{
			float:left;
			width:45%;
			padding:$spacing-unit 2.5%;
			&:nth-of-type(odd){
				clear:left;
			}
		}
		
	}
	#staff{
		li{
			@media screen and (min-width:$laptop *1.2){
				width:20%;
				&:nth-of-type(odd){
					clear:none;
				}
			}
		}
		
	}
	#board{
		li{
			@media screen and (min-width:$laptop){
				width:28%;
				&:nth-of-type(odd){
					clear:none;
				}
				&:nth-of-type(4), &:nth-of-type(7){
					clear:left;
				}
			}
		}
		
	}
	
}
#footer{
	text-align:center;
	background-color:$white;
	padding:$spacing-unit *4;
	border-top:1px solid $grey-light;
	
	a{
		color:$blue-light;
		&:hover{
			color:$red;
		}
		&:active{
			color:$blue-dark;
		}
	}
}


#open-coastal-drift-window{background-image:url(../img/content/03accomplishments/drift.jpg);}
#open-scholarships-window{background-image:url(../img/content/03accomplishments/scholarship.jpg);}
#open-cause-window{background-image:url(../img/content/04about/whyweride.jpg);}
#open-routes-window{background-image:url(../img/content/04about/whereweride.jpg);}
#open-grantee-window{background-image:url(../img/content/05impact/grantees.jpg);}
#open-alumni-window{background-image:url(../img/content/07alumni/pre-alumni.jpg);}