//Navgation / Menu / Buttons / Links

#header{
	font-size:18px;
	#toggle{		
		background-color:$white;
		color:$red;
		position:fixed;
		bottom:$spacing-unit * 2;
		right:$spacing-unit * 2;
		width:$spacing-unit * 6;
		height:$spacing-unit * 6;
		border:none;
		border-radius:$spacing-unit * 3;
		z-index:500;
		outline:none;
		-webkit-border:none;
		
		box-shadow:0 0 0 3px rgba(0,0,0,.2);
		@extend %t01s;
		#icon-menu, #icon-cross{
			display:block;
			position:absolute;
			padding: 0;
			bottom:.375em;
			right:.35em;
			//line-height:1.65;
			@extend %t01s;
			@extend %teo;
			@extend %tei;
			
		}
		#icon-menu{
			opacity:1;
		}
		#icon-cross{
			opacity:0;
			-webkit-transform:rotate(-90deg) scale(.5);
		}
		&.active{
			//box-shadow:0 0 0 1px rgba(0,0,0,.75);
			#icon-menu{
				opacity:0;
				-webkit-transform:rotate(90deg) scale(.5);
			}
			#icon-cross{
				opacity:1;
				-webkit-transform:rotate(90deg) scale(1);
			}
		}
		&:hover{
			//transform:scale(1.05);
		}
		&:active{
			//background-color:darken($red,5%);
			box-shadow:0 0 0 1px rgba(0,0,0,.5);
			//transform:scale(.95);
		}
	}
	#toc{
		color:$blue-dark;
		@extend %t01s;
		
		@extend %tei;	
		padding:$spacing-unit * 4 0;
		overflow-y:scroll;
		overflow-x:hidden;
		background-color:rgba(255,255,255,1);
		&.fixed{
			position:fixed;
			top:0;
			right:-150%;
			//bottom:$spacing-unit *10;
			bottom:0;
			//left:$spacing-unit *10;
			//right:$spacing-unit *10;
			width:80%;
			max-width:(em(300));
			z-index:3;
			box-shadow:0px 0px 0px 2px rgba(0,0,0,.25);
			box-sizing:border-box;
			-webkit-box-sizing:border-box;		
		}		
		&.open{
			right:0;
			@extend %teo;		
		}
		h3{
			//background-color:rgba(255,255,255,1);
		}
		ol{
			//background-color:rgba(255,255,255,1);
			//padding:0 2em;
			//list-style:decimal-leading-zero;
			li{
				//border-t:1px solid lighten($blue-dark, 5%);
				border-top:1px solid $blue-light;
				margin:0;
				padding:0;
			}
			border-bottom:1px solid $blue-light;
		}
		a{
			display:block;
			padding:.25em 1em;
			color:$blue-dark;
			font-size:1em;
			text-decoration:none;
			outline:none;
			@extend %t01s;
			@extend %teo;
			&:hover{
				
			}
			&:active{
				//color:$white;
				background-color:darken($blue-light,5%);
			}
			&:visited{
				//text-decoration:line-through!important;
			}
		}
	}
}
button{
	font-family:'proxima-nova',helvetica,arial,sans-serif;
	//background: linear-gradient(0deg, $blue-dark, $red);
	color:$white;
	padding:$spacing-unit *2;
	margin:$spacing-unit;
	background-color:$red;
	font-weight:800;
	text-transform:uppercase;
	letter-spacing:.1em;
	border:none;
	box-shadow:0 0 0 3px rgba(0,0,0,.1);
	@include rc025;
	outline:none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:hover{
		//color:$blue-dark;
	}
	&:active{
		box-shadow:0 0 0 1px rgba(0,0,0,.5);
	}
}
.action{
	display:block;
	margin:$spacing-unit *8 auto;
	background-color:$white;
	width:$spacing-unit *8;
	height:$spacing-unit *8;
	padding:0;
	//line-height:$base-line-height * 2.5;
	//padding:$spacing-unit * 4;
	border-radius:$spacing-unit * 8;
	text-decoration:none;
	text-transform:uppercase;
	color:$red;
	font-weight:800;
	letter-spacing:.1em;
	outline:none;
	border:none;
	box-shadow:0 0 0 3px rgba(0,0,0,.2);
	&:hover{}
	&:active{
		box-shadow:0 0 0 1px rgba(0,0,0,.5);
	}
	span{
		font-size:2em;
		line-height:2;
		vertical-align:middle;
	}
}

// Articles / Text Layouts
article{
	//position:relative;
	padding:0 0 $spacing-unit *4 0;
	@extend %clearfix;
	a{
		color:$blue-light;
		box-shadow:0 1px 0 0 $blue-light;
		text-decoration:none;
		@extend %t01s;
		@extend %teo;
		outline:none;
		-webkit-border:none;
		-webkit-outline:none;
		&:hover{
			box-shadow:0 3px 0 0 $blue-light;
		}
		&:active{
			color:$blue-dark;
			box-shadow:0 3px 0 0 $blue-dark;
		}
		&:visited{
			color:$grey;
			box-shadow:0 1px 0 0 $grey;
		}
	}
	header,section,div{
		@extend %clearfix;
	}
	header.sticky{	
		border-top:2px solid $blue-dark;
		padding:0;
		background-color:rgba(255,255,255,0.95);	
		box-shadow:0 .05em 0 0 rgba(0,0,0,.15);	
		nav{
			float:right;
			position:absolute;
			right:0;
			top:0;
			a{
				display:block;
				float:left;
				margin:0;
				padding:$spacing-unit $spacing-unit *2;
				box-shadow:none;
				color:$red;
				border-left:1px solid rgba(0,0,0,.15);
				&:hover{
					outline:none;
					box-shadow:inset 0 -3px 0 $red;
				}
				&:active{
					outline:none;
					color:$white;
					background-color:$red;
				}
				&:visited{
					color:$grey;
					&:hover{
						color:$red;
					}
					&:active{
						color:$white;
					}
				}
				span{
					font-size:1em!important;
					vertical-align:middle!important;
					margin-left: .1em;
					margin-right:0;
				}
			}
		}
		h6{
			float:left;
			text-align:left;
			//text-align:center;
			color:$blue-dark;
			text-transform:uppercase;
			font-weight:700;
			letter-spacing:.1em;
			margin:0;
			padding:$spacing-unit $spacing-unit *2;
		}
		&.fixed{
			h6{
				@extend %t01s;
				//text-shadow:-1px 1px 0 $blue-light, -2px 2px 0 $blue-light;
			}
		}
	}
	header.hero{
		position:relative;
		float:left;
		width:100%;
		text-align:center;
		color:$white;
		margin-bottom:$spacing-unit *10;
		padding:$spacing-unit *4 0;
		@include full-bleed-background;
		&:before{
			content:' ';
			display:block;
			position:absolute;
			top:0;
			bottom:0;
			width:100%;
			background:$black;
			//background: linear-gradient(0deg, $black, rgba(0,0,0,.75));
			opacity:.5;
			z-index:0;
		
		}
		*{
		  position:relative;
		  z-index:1;	
		}
	}
	section{
		position:relative;
		p{
			&:first-of-type{
				font-size:1.25em;
				line-height:1.5;
			}
		}
		padding:0 $spacing-unit * 4;
		max-width:$spacing-unit * 90;
		margin:$spacing-unit *5 auto;
		font-size:$base-font-size;		
	}
	h1{
		font-size:2em;
		text-transform:uppercase;
		letter-spacing:.1em;
		margin:$spacing-unit *20 0;
		@media screen and (min-width:$tablet){
			font-size:3em;
		}
		@media screen and (min-width:$laptop){
			font-size:4em;
		}
	}
	h2{
		font-size:1.5em;
		@media screen and (min-width:$tablet){
			font-size:2em;
		}
		@media screen and (min-width:$laptop){
			font-size:2.5em;
		}
	}
	h3{
		//font-size:1.25em;
		font-weight:500;
		@media screen and (min-width:$tablet){
			font-size:1.5em;
		}
		@media screen and (min-width:$laptop){
			//font-size:2em;
		}
	}
	>article{
		padding:$spacing-unit * 2;
	}
	
}



//Videos
.full-screen{
	background-size:cover;
	background-position:center;
	padding:0;
	width:100%;
	position:relative;
	max-height:1000px!important;
	overflow:hidden!important;
	display:flex;
	display:-webkit-flex;
	section{
		margin:auto;
	}
	img{
		width:100%;
	}
	video{
		display:block;
		position:absolute;
		min-width:100%;
		min-height:100%;
		top:0;
		bottom:0;
		//left:0;
		right:0;
	}
}

// Fluid Width Videos
.fluid-width-video-wrapper{
	margin-bottom: 1.5rem;
}
.flexvideo-16-9 {
	position: relative;
	padding:0 0 56.5% 0;
	height: 0;
	margin: 1em 0;
	z-index:300;
}
.flexvideo-16-9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:301;
}


//Background Videos
.background-video{
	display:block;	
	position: absolute;
	bottom:0;
	min-width: 100%!important; 
	min-height: 100%!important;
	z-index: -1000; 
	overflow: hidden;
}

.overflow-hidden{
	overflow:hidden;
}


//Sticky Headers Classes

.sticky {
  //background: #222;
  //border-bottom: solid 1px #111;
  //border-top: solid 1px #444;
  //padding: 1%;
  position: relative;
  z-index: 2;
}
.sticky.fixed {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  //width: 98%;
  z-index: 1;
}
.sticky.fixed.absolute {
  position: absolute;
}

//Sticky Footer Classes


//Full Screen Module
.pre-window{
    display: inline-block;
    position: relative;
    width: 50%;
	padding:0;
	margin:$spacing-unit *8 auto;
	text-align:center;
	color:$white;
	@include full-bleed-background;
	@extend %perfect-circle;
	overflow:hidden;
	display:flex;
	cursor:pointer;
	@extend %t025s;
	//@extend %teo;
	&:after{
		content:' ';
		display:block;	
		margin-top: 100%;
		
	}
	h3{
		@extend %t25s;
		margin:auto;
		//opacity:.75;
		//color:$black;
	}
	button{
		display:none;
		//@extend %t25s;
		//position:absolute;
		//top:-2em;
		//left:40%;
		//opacity:0;
		//display:none;
		//margin:auto;
		//opacity:0;
	}
	&:hover{
		@extend %t25s;
		overflow:hidden;
		&:before{
			background:$blue-dark;
		}
		h3{
			
			//opacity:0;
			//color:$white;
		}
		button{
			//top:4em;
			//opacity:1;
		}
	}
	&:before{
		@extend %t025s;
		//@extend %teo;
		content:' ';
		display:block;
		position:absolute;
		top:0;
		bottom:0;
		width:100%;
		background:$red;
		//background: linear-gradient(0deg, $red, $blue-light);
		opacity:.75;
		z-index:0;
	}
	*{
	  position:relative;
	  z-index:0;	
	}
	&.half{
		float:left;
		width:45%;
		margin:$spacing-unit *8 2.5%;
		//margin:0 10%;
		//width:;
		&+.half{
				//border-left:1px solid $white;
		}
	}
}



.window{
	position:fixed;
	z-index:0;
	opacity:0;
	top:100%;
	left:0em;
	right:0em;
	bottom:0;
	overflow-y:hidden;
	overflow-x:hidden;
	//box-shadow:0 0 0 1em rgba(0,0,0,.65);
	//box-shadow:inset 0px -5px 0px rgba(0,0,0,.2);
	background-color:$white;
	//padding:1em;
	text-align:left;
	&:after{
		//font-family: 'bikeandbuild';
		//speak: none;
		//font-size:1.5em;
		//line-height: 1;
		//content:"\e117";
		//display:block;
		//background-color:$white;
		//text-align:center;
		//cursor:pointer;
		//width:100%;
		//color:$red;
		//padding:1em;
		//margin-bottom:-2em;
	}
	@extend %t025s;
	@extend %teo;
	.close-window{
		position:fixed;
		top:.5em;
		left:.5em;
		z-index:1001;
		background-color:$white;
		color:$red;
		box-shadow:0 0 0 2px rgba(0,0,0,.15);
		@extend %perfect-circle;
		padding:$spacing-unit;
		cursor:pointer;
		font-size:2em;
		@extend %t01s;
		@extend %teo;
		&:hover{
			@extend %t01s;
			@extend %teo;
			color:lighten($red,5%);
			//background-color:$red;
			//color:$white;
		}
		&:active{
			box-shadow:0 0 0 1px rgba(0,0,0,.5);
		}
	}
	&.open{
		z-index:1000;
		top:0;
		//top:0;
		opacity:1;
		overflow-y:scroll;
	}
	
	header{
		text-align:center;
		color:$white;
		h6{
			color:$white;
		}
		@include full-bleed-background;
		h6{
			text-align:center;
			float:none;
		}
		small{
			color:$white;
		}
	}	
}


//TABS 

//.tab-content{
//	position:relative;
//	overflow:scroll;
//}
//.tab-content > .tab-pane {
//  //display: none;
//  position:absolute;
//  top:0;
//  left:0;
//  right:0;
//  bottom:0;
//  z-index:0;
//  opacity:0;
//  @extend %t01s;
//}
//.tab-content > .active {
//  //display: block;
//  z-index:10;
//  opacity:1;
//}