/**
 * Basic styling
 */

@font-face {
	font-family: 'bikeandbuild';
	src:url('../fonts/bikeandbuild.eot?-5y9hbq');
	src:url('../fonts/bikeandbuild.eot?#iefix-5y9hbq') format('embedded-opentype'),
		url('../fonts/bikeandbuild.woff?-5y9hbq') format('woff'),
		url('../fonts/bikeandbuild.ttf?-5y9hbq') format('truetype'),
		url('../fonts/bikeandbuild.svg?-5y9hbq#bikeandbuild') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'bikeandbuild';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:1.5em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
	content: "\e60d";
}
.icon-twitter:before {
	content: "\e60b";
}
.icon-instagram:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e60a";
}

.icon-mail:before {
	content: "\e002";
}

.icon-camera:before {
	content: "\e017";
}

.icon-reply:before {
	content: "\e039";
}

.icon-share:before {
	content: "\e081";
}

.icon-arrow-left:before {
	content: "\e094";
}

.icon-arrow-right:before {
	content: "\e095";
}

.icon-arrow-up:before {
	content: "\e096";
}

.icon-arrow-down:before {
	content: "\e097";
}

.icon-plus:before {
	content: "\e114";
}

.icon-minus:before {
	content: "\e115";
}

.icon-cross:before {
	content: "\e117";
}

.icon-menu:before {
	content: "\e120";
}

.icon-open:before {
	content: "\e128";
}

.icon-visibility:before {
	content: "\e600";
}

.icon-location:before {
	content: "\e601";
}

.icon-time:before {
	content: "\e602";
}

.icon-money:before {
	content: "\e603";
}

.icon-timer:before {
	content: "\e604";
}

.icon-bike:before {
	content: "\e605";
}

.icon-terrain:before {
	content: "\e606";
}

.icon-people:before {
	content: "\e607";
}

.icon-globe:before {
	content: "\e608";
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit * 2;
}

h1{
	text-align:center;
	margin-top: $spacing-unit * 2;
	line-height:$base-line-height / 2;
}
h2{
	text-align:center;
	font-size:2em;
	margin-top: $spacing-unit * 2;
	line-height:$base-line-height / 2;
}
h3{
	text-align:center;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:.15rem;
	font-weight:800;
	margin-bottom: $spacing-unit * 2;
	
}
h6{
	text-align:center;
	font-size:1em;
	letter-spacing:.1rem;
	text-transform:uppercase;
}

blockquote{
	border-left:3px solid $blue-light;
	padding-left:1rem;
	font-size:1.25em;
	line-height:$spacing-unit * 4;
	color:$blue-dark;
	font-style:italic;
	font-weight:300;
	
	@media screen and (min-width:$laptop){
		border-left:none;
		text-align:center;
		width:120%;
		margin-left:-10%;		
		&:before, &:after{
			content:' ';
			display:block;
			width:20%;
			margin:2em auto;
			border-top:3px solid $blue-light;
		}
	}
	@media screen and (min-width:$desktop){
		width:140%;
		margin-left:-20%;
	}
	
}
.author{
	font-family:courier,serif;
	&:before{
		content:"– ";
	}
}