

// Variables
$base-font-family: "proxima-nova", Helvetica, Arial, sans-serif;
$base-font-size:   1em; /*16px*/
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 2; /*24px*/
$spacing-unit:     .5rem;

$text-color: #444;
$text-color: rgba(0,0,0,.85);
$background-color: #fff;
$brand-color:rgb(226,035,026);

$grey:#828282;
$grey-light: lighten($grey, 40%);
$grey-dark:  darken($grey, 25%);

$black: #000000;
$white: #FFFFFF;

$blue-dark:rgb(003,029,064);
$blue-light:rgb(103,178,231);
$red:rgb(226,035,026);



@function em($target, $context: 16) {
    @return ($target / $context) * 1em;
}

$phone:(em(320));
$phablet:(em(500));
$tablet:(em(700));
$laptop:(em(1000));
$desktop:(em(1400));
$jumbotron:(em(2000));

/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%pseudo-block{
	display:block;
	content:' ';
	
}

@mixin rc05{
	border-radius:.5em;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	-ms-border-radius:.5em;
}
@mixin rc025{
	border-radius:.25em;
	-webkit-border-radius:.25em;
	-moz-border-radius:.25em;
	-ms-border-radius:.25em;
}

%perfect-circle{
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
}

@mixin full-bleed-background{
background-position:50% 50%;
background-size:cover;
background-repeat:no-repeat;
}

%t01s {
-webkit-transition-duration: .15s;
-moz-transition-duration: .15s;
-ms-transition-duration: .15s;
-o-transition-duration: .15s;
transition-duration: .15s;
}

%t025s {
-webkit-transition-duration: .25s;
-moz-transition-duration: .25s;
-ms-transition-duration: .25s;
-o-transition-duration: .25s;
transition-duration: .25s;
}

%t05s{
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
}

%teo {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
%tei {
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}


body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
	vertical-align:-.25em;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;


//	BACKGROUND ALIGNMENT GUIDE
	//background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
	//background-repeat: repeat-y;
	//background-size: 100% 1rem;
}

